<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" backupGlobals="false"
    beStrictAboutTestsThatDoNotTestAnything="false" colors="true"
    processIsolation="false" stopOnError="false" stopOnFailure="false"
    cacheDirectory=".phpunit.cache" backupStaticProperties="false">
    <testsuites>
        <testsuite name="Framework Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
