<?php
namespace {NAMESPACE};
defined("REAL_BASE_DIR") or die;
/**
 * {CLASS_NAME} Controller
 *
 * @package {NAMESPACE}
 */
use OceanWebTurk\Http\Controller;
class {CLASS_NAME} extends Controller{
  /**
   * Index Method
   */
  public function index(){
   //
  }
}
